<!DOCTYPE html>
<html lang="en">
{{> head titulo=this.titulo}}
<body>

    {{> header titulo=this.titulo}}

    {{{body}}}
    
    {{> footer}}

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>