<!DOCTYPE html>
<html lang="en">
{{> head titulo=this.titulo}}
<body>

    {{> header titulo=this.titulo}}

    <div class="container mt-5">
        <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-8">
            <label for="validationCustom01" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="validationCustom01" value="Juan" required>
            <div class="valid-feedback">
            Looks good!
            </div>
        </div>
        <div class="col-md-8">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" value="Perez" required>
            <div class="valid-feedback">
            Looks good!
            </div>
        </div>
        <div class="col-md-8">
            <label for="validationCustomUsername" class="form-label">Nombre de usuario</label>
            <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
            </div>
        </div>
        <div class="mensaje">
            <label for="validationCustom03" class="form-label">Mensaje</label>
            <textarea class="form-control" id="validationCustom03" required></textarea>
            <div class="invalid-feedback">
                Please provide a valid message.
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
        </form>
    </div>

    

    {{> footer}}

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>